service vendor.fps_hal_aidl /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.oplus
    class hal
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks